body {
  background-color: #fff;
}
h1 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;

  color: #333;
  text-align: center;
  line-height: 1em;
  font-size: 4em;
  margin: 20px 0;
  text-shadow: #aaa 2px 2px 2px;
}
.App {
  text-align: center;
}

.App .container {
  text-align: center;

  display: inline-block;
}

.settings-main {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  background: transparent;
  border-radius: 0px;
  border-bottom: 1px solid #aaa;
  padding: 0 10px;
}
.settings-main fieldset {
  margin: 0;
  text-align: left;
  border: 0;
}
fieldset p {
  margin: 0;
}
.settings-main fieldset p:first-child {
  margin: 0 0 10px 0;
}

.settings-main fieldset input.number,
.settings-neck fieldset input.number {
  width: 40px;
  margin: 0 10px 0 0;
}

.neck {
  margin: 10px auto;
  display: inline-block;
}

.settings-neck {
  width: auto;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  background: transparent;
  border-radius: 0px;
  border-bottom: 1px solid #aaa;
  padding: 0 10px;
}

.settings-neck fieldset {
  margin: 0;
  text-align: left;
  border: 0;
  line-height: 2em;
}

.gstring {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  height: 50px;

  /* margin:23px 0 23px 0;*/
}

.fret {
  /* margin:-23px 0 0;*/
  flex-basis: auto;
  height: 50px;
  width: 100px;
  background: transparent url(./images/fret.gif) no-repeat left center;
}

.fret.marked {
  background: transparent url(./images/fret_mark.gif) no-repeat left center;
}

.up .fret {
  background: transparent url(./images/fret_up.gif) no-repeat left center;
}

.bottom .fret {
  background: transparent url(./images/fret_bottom.gif) no-repeat left center;
}

.fret.open {
  width: 60px;
  background: transparent url(./images/sfret.gif) no-repeat left center;
}

.up .fret.open {
  background: transparent url(./images/sfret_up.gif) no-repeat left center;
}

.bottom .fret.open {
  background: transparent url(./images/sfret_bottom.gif) no-repeat left center;
}

.fret.settings {
  background: #efefef;
  line-height: 46px;
  height: 46px;
  margin: 2px 0;
  padding: 0;
  border-radius: 10px;
}

.settings-neck select,
.fret.settings input,
.fret.settings select {
  border-width: 0px;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.4em;
  margin: 0 2px 0 0;
}

.gstring.txt {
  height: auto;
  margin: 0 0 10px;
}
.fret.txt {
  border: 0;
  background: transparent;
  margin: 0;
  line-height: 1em;
  height: auto;
  color: #666;
  font-size: 0.8em;
}

.fret .note {
  height: 48px;
  width: 48px;
  line-height: 48px;
  background-color: #333;
  color: #fff;
  font-weight: 500;
  font-size: 1.4em;
  border-radius: 50%;
  display: inline-block;
}

.fret.open .note {
  background-color: #fff;
  height: 42px;
  width: 42px;
  line-height: 42px;
  border: 3px solid #000;
  color: #000;
}

.fret span {
  /*  display:inline-block;
 margin: 13px 0 0 ;
   width:100%;
   height:40px;
   background-color:#eee;
   */
  cursor: default;
}

.fret.clickable,
.fret.clickable span {
  cursor: pointer;
}
